div {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line when necessary */
    justify-content: center;
  }
  
  button {
    flex: 1; /* Make buttons equally share the available space */
    margin: 5px; /* Add margin for spacing */
    font-size: 50px;
    padding: 10px;
  }
  
  /* Center the button rows horizontally */
  .ng-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom:10px
  }
  
  /* Add space between button rows */
  div:not(:last-child) {
    margin-bottom: 10px;
  }