<ng-container>
    <div>
        <button (click)="onButtonClick('1')">1</button>
        <button (click)="onButtonClick('2')">2</button>
        <button (click)="onButtonClick('3')">3</button>
        <button (click)="onButtonClick('4')">4</button>
        <button (click)="onButtonClick('5')">5</button>
    </div>
    <div>
        <button (click)="onButtonClick('6')">6</button>
        <button (click)="onButtonClick('7')">7</button>
        <button (click)="onButtonClick('8')">8</button>
        <button (click)="onButtonClick('9')">9</button>
        <button (click)="onButtonClick('0')">0</button>
    </div>
    <div>
        <button (click)="onButtonClick('DEL')">DEL</button>
        <button (click)="onButtonClick('Enter')">Enter</button>
    </div>
</ng-container>
